{% load static %}

<!-- CSS only -->
<link href="{% static 'app1/style1.css' %}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<div class="l-container">
  <h6 class="mb-0 pb-3">
  <span><a href="{% url 'app1:homepage' %}">Home</a>  /  <span>Not Registered ?</span><span><a href="{% url 'app1:signup' %}">  Sign Up</a></span>
  </h6>
  {% if msg %}
  <p class="message">{{msg}}</p>
  {% endif %}
  <div class="form-box">
    <form method="POST" action="{% url 'app1:login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username1" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="username1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>