{% extends 'app1/index.html' %}
{% load static %}
<!-- CSS only -->
<link href="{% static 'app1/style2.css' %}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

{% block my_book %}
<div>
    {% for book_detail in book_details %}
        <div class="user-card">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">{{book_detail.book_title}}</h4>
                    <p class="card-text">Description: {{book_detail.description}}</p>
                    <h5 class="card-text">Cost: {{book_detail.cost}}</h5>
                    <h5 class="card-text">Published Year: {{book_detail.published_year}}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock my_book %}